/* html, body height setup */
html {
  height: 100%;
}

body {
  min-height: 100vh;
}
/* html, body height setup */

:root {
  --accent-clr-500: #FB6E86;
  --accent-clr-900: #DF1646;

  --secondary-clr-900: #000000;
  --secondary-clr-100: #FFFFFF;

  --bg-clr: var(--secondary-clr-900);
  --border-clr: var(--accent-clr-900);
}