/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* css reset */

/* proper height */

html {
  height: 100vh;
}

body {
  min-height: 100%;
}

/* proper height */

:root {
  --primary-color: #e74c3c;
  --secondary-color: #2c3e50;
  --background-color: #fdf2e9;
  --text-color: #34495e;
}

body {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
}

main {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1480px;
  margin: 0 auto;
  text-align: center;
}

article {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

article h2 {
  color: var(--primary-color);
  font-size: 1.4rme;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.8rem;
  margin-bottom: 1rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  position: sticky;
  bottom: 0;
  z-index: 1000;
}

@media (max-width: 800px) {
  main {
    padding: 1rem;
    grid-template-columns: 1fr;
  }
}