@import "reset.css";

:root {
  --primary-clr-900: #000000;
  --secondary-clr-600: #303030;
  --tertiary-clr-300: #948979;

  --clr-white: #ffffff;

  --accent-clr-100: #dfd0b8;

  --text-primary: var(--clr-white);
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-clr-900);
  color: var(--text-primary);
}

header > h1 {
  font-weight: 800;
}

button {
  color: inherit;
  background-color: inherit;
  border: 3px solid var(--accent-clr-100);
}

.otp {
  background-color: var(--secondary-clr-600);
  padding: 1rem 2rem;
}