@import "reset.css";

:root {
  --primary-clr-900: #16161a; /* Very dark grey */
  --secondary-clr-600: #242629; /* Dark grey */
  --tertiary-clr-300: #94a1b2; /* Muted blue-grey */

  --clr-white: #fffffe; /* Off-white */

  --accent-clr-100: #7f5af0; /* Bright purple */

  --text-primary: var(--clr-white); /* Uses the new off-white */

  /* border-radius variables */
  --border-radius-lg: 1rem;
  --border-radius-sm: 8px;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-clr-900);
  color: var(--text-primary);
}

header > h1 {
  font-weight: 800;
}

button {
  color: inherit;
  background-color: inherit;
  border: 3px solid var(--accent-clr-100);
}

.otp {
  background-color: var(--secondary-clr-600);
  padding: 1rem 2rem;
  border-radius: var(--border-radius-lg);
}

.otp__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.otp__input-field {
  height: 3rem;
  width: 3rem;
  outline: none;
  text-align: center;
  border: 2px solid var(--clr-white);
  border-radius: var(--border-radius-sm);
  background: none;
  color: var(--text-primary);
  margin: 0;
}

.otp__input-field::-webkit-inner-spin-button,
.otp__input-field::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.otp__verify-button {
  border-radius: var(--border-radius-sm);
}
